<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_InclExclTaxSwitch>
            <version>1.0.0</version>
        </MageProfis_InclExclTaxSwitch>
    </modules>
    <global>
        <helpers>
            <inclexcltaxswitch>
                <class>MageProfis_InclExclTaxSwitch_Helper</class>
            </inclexcltaxswitch>
        </helpers>
        <models>
            <inclexcltaxswitch>
                <class>MageProfis_InclExclTaxSwitch_Model</class>
            </inclexcltaxswitch>
            <tax>
                <rewrite>
                    <config>MageProfis_InclExclTaxSwitch_Model_Tax_Config</config>
                </rewrite>
            </tax>
        </models>
        <blocks>
            <inclexcltaxswitch>
                <class>MageProfis_InclExclTaxSwitch_Block</class>
            </inclexcltaxswitch>
            <germansetup>
                <rewrite>
                    <catalog_product_price>MageProfis_InclExclTaxSwitch_Block_Germansetup_Catalog_Product_Price</catalog_product_price>
                </rewrite>
            </germansetup>
            <page>
                <rewrite>
                    <html_footer>MageProfis_InclExclTaxSwitch_Block_Page_Html_Footer</html_footer>
                </rewrite>
            </page>
        </blocks>
        <events>
            <controller_front_init_before> 
                <observers>
                    <inclexcltaxswitch_request_listner>
                        <type>singleton</type>
                        <class>inclexcltaxswitch/observer</class>
                        <method>requestListner</method>
                    </inclexcltaxswitch_request_listner>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
</config>